@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
    --background-dark: url("images/background-dark.png");
    --background-light: url("images/background-light.png");
}

html {
    background-image: var(--background-dark);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100%;
}
